<!DOCTYPE html>
<html lang="ru">
<head>
    @await Html.PartialAsync("_TitlePartial")
    @await Html.PartialAsync("_MetatagsPartial")
    @await Html.PartialAsync("_LogoPartial")
    @await Html.PartialAsync("_CssPartial")
</head>
<body>
    <main id="content" role="main">
        @RenderBody()
    </main>
    @await Html.PartialAsync("_ScriptsPartial")
    @if (IsSectionDefined("ScriptsPage")) 
    { 
        @await RenderSectionAsync("ScriptsPage")
    }
</body>
</html>